<section class="card">
  <div class="card-body">
    <h1>About</h1>
        <p class="load">Aplicacion desarrollada con NodeJS, Express,
      MongoDB, Mongoose.</p>
    <p>Para el login se uso Passport y Bcrypt.</p>
    <p>Para el frontend se uso Bootstrap y Handlebars.</p>

  </div>
</section>