<div class="row align-items-md-stretch">

  <div class="h-100 p-5 text-bg-dark rounded-3">
    <div class="display-4">Notes App</div>
    <p class="load">Aplicacion desarrollada con NodeJS y MongoDB</p>
    <hr class="my-4" />
    <p>Registrate para guardar notas.</p>

    <a href="/users/signup"><button
        class="btn btn-outline-light"
        type="button"
      >Registrarme</button></a>
  </div>
</div>