<nav class="navbar navbar-expand-lg navbar-dark bg-dark ps-5 pe-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Notes App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor02"
      aria-controls="navbarColor02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">

        {{#if user}}

          <li class="nav-item">
            <a class="nav-link" href="/">Home
              {{! <span class="visually-hidden">(current)</span> }}
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/users/profile">Profile</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/notes">All Notes</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/notes/add">Add A Note</a>
          </li>

        {{else}}

          <li class="nav-item">
            <a class="nav-link" href="/">Home
              {{! <span class="visually-hidden">(current)</span> }}
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        {{/if}}

      </ul>

      <ul class="navbar-nav ml-auto">
        {{#if user}}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Notes
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/notes">All Notes</a></li>
              <li><a class="dropdown-item" href="/notes/add">Add A Note</a></li>

              <li><hr class="dropdown-divider" /></li>

              <li><a class="dropdown-item" href="/users/logout">Logout</a></li>
            </ul>
          </li>

        {{else}}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Login
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/users/signin">SignIn</a></li>
              <li><a class="dropdown-item" href="/users/signup">SignUp</a></li>

            </ul>
          </li>

        {{/if}}
      </ul>

    </div>
  </div>
</nav>