<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">Account Login</div>
      <img src="/img/GcoreChan.png" class="logo mx-auto d-block mt-2" />
      <div class="card-body">
        <form action="/users/signin" method="POST">

          <div class="mb-2">
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Email"
            />
          </div>
          <div class="mb-2">
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="Password"
            />
          </div>

          <button class="btn btn-primary btn-block">Signin</button>
        </form>
      </div>
    </div>
  </div>
</div>